html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Styles for site go here */

.main-nav {
  display: flex;
  justify-content: center;
  font-family: 'Noto Serif', serif;
  align-items: center;
  height: 85px;
  background-color: white;
  color: black;
}

.main-nav h1 {
  font-size: 24px;
  /* font-weight: bold; */
  margin: 0px 40px 0px 40px;
  padding: 0;
}

.main-nav li {
  margin: 0px 0px 0px 40px;
}

.main-nav li:hover {
  color: #aaa;
}

.main-nav li:first-child {
  margin: 0px 0px 0px 0px;
}


.nav-left {
  display: flex;
}

.nav-right {
  display: flex;
  margin-top: 2px;
}


.banner {
  position: relative;
}

.caption {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 300px;
  /* left: 20px; */
  width: 100%;
  color: white;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
}

